/* ----------Global------------ */
/*---------Reset_Navigateurs----*/


html,
body {
  width: 100%;
  margin: 0;
  font-size: 16px;
}

body * {
  box-sizing: border-box;
}

/*test animation*/
/*//////////--Couleurs et Polices--////////*/

h1 {
  font: 84px "volkhov-bold";
  color: white;
}

h2 {
  font: 50px "volkhov-bold";
  color: #14183e;
}

h3 {
  font: 20px "poppins-bold";
  color: #E1A624;
}


h4 {
  font: 18px "poppins-regular";
  font-weight: 600;
  color: #5e6282;
}

h5 {
  font: 500 16px/30px "poppins-regular";
  color: white;
}

.texte-couleur-saumon {
  color: #df6951;
}

.texte-couleur-gris-1 {
  color: #bfc0cd;
}

.texte-couleur-gris-2 {
  color: #8d8d8d;
}

.texte-couleur-gris-3 {
  color: #3e3f43;
}

.texte-couleur-gris-bleu {
  color: #5e6282;
}

.texte-couleur-bleu {
  color: #1e1d4c;
}

.texte-couleur-sombre {
  color: #22232c;
  text-decoration: none;
}

.texte-couleur-noir {
  color: #000;
}

.texte-poppins-bold {
  font-family: "poppins-bold";
}

.texte-volkhov-bold {
  font-family: "volkhov-bold";
}

.texte-poppins-regular {
  font-family: "poppins-regular";
}


.lettrebicolor {
  color: #ffffff;
}

.lettrescolor2 {
  color: #E1A624;
}

/*
Palettes couleurs 

#E1A624-Jaune sable
#317AC1-Bleu-Claire 
#384454-Bleu-Foncer
#D4D3DC-Gris clair
#AD956B-Taupe
/*
*/

/*----Fomulaire horizontale-----*/



.ContenerFormul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  background-repeat: no-repeat;
}


.d1 {

  font-family: "poppins-regular";
  background-color: rgba(255, 255, 255, 0.151);
  width: 300px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  border-right: solid 2px rgba(255, 255, 255, 0.700);

  border-left: solid 1px rgba(0, 0, 0, 0.300);
  border-top: solid 1px rgba(0, 0, 0, 0.300);

  padding-top: 15px;

  transition-duration: 0.3s;


  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: -0px;


}


.d1:hover {
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0px 0px 158px -4px #000000;
}




.d2 {
  font-family: "poppins-regular";
  background-color: rgba(255, 255, 255, 0.151);
  width: 300px;
  padding-top: 15px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border-right: solid 2px rgba(255, 255, 255, 0.700);
  margin: 0 10px;
  border-radius: 30px 1px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  border-left: solid 1px rgba(0, 0, 0, 0.300);
  border-top: solid 1px rgba(0, 0, 0, 0.300);

  transition-duration: 0.3s;
}

.d2:hover {
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0px 0px 158px -4px #000000;
}

.d3 {
  font-family: "poppins-regular";
  background-color: rgba(255, 255, 255, 0.151);
  width: 300px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border-right: solid 2px rgba(255, 255, 255, 0.700);
  padding-top: 15px;
  border-radius: 30px 1px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  border-left: solid 1px rgba(0, 0, 0, 0.300);
  border-top: solid 1px rgba(0, 0, 0, 0.300);
  transition-duration: 0.3s;
}

.d3:hover {
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0px 0px 158px -4px #000000;
}

.d4 {
  font-family: "poppins-regular";
  background-color: rgba(255, 255, 255, 0.151);
  color: rgb(255, 255, 255);
  text-shadow: black 0.1em 0.1em 0.2em;
  width: 250px;
  margin: 0 10px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  padding-bottom: 15px;
  border-right: solid 2px rgba(255, 255, 255, 0.700);
  border-radius: 30px 1px;
  color: white;
  border-left: solid 1px rgba(0, 0, 0, 0.300);
  border-top: solid 1px rgba(0, 0, 0, 0.300);
  transition-duration: 0.3s;
}

.d4:hover {
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0px 0px 158px -4px #000000;
}


input[type="datetime-local"] {
  font-family: "poppins-regular";
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 15px 3px;


}


input[list="Destinations-voyages"] {

  font-style: italic;

  color: rgba(0, 0, 0, 0.603);
  background-color: rgba(255, 255, 255, 0.466);
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 7px 1px;

}



/*---- Fin Fomulaire horizontale-----*/





/*------Diapo------*/
.Diapoanime1 {
  background-size: cover;
  background-position: center;
  height: 105vh;
  width: 100%;
  margin-top: -150px;

  animation: fondu 10s ease-in-out infinite both;
}

.Diapoanime1:hover {
  animation-play-state: paused;
}

@keyframes fondu {
  0% {
    background-image: url(/Img_voyage/hotel-g4ff841174_1920.jpg);
    background-repeat: no-repeat;

  }

  33.33% {
    background-image: url(/Img_voyage/swimming-pool-g8a5c4c0d2_1920.jpg);
    background-repeat: no-repeat;

  }

  66.67% {
    background-image: url(/Img_voyage/window-g6fb81a91c_1920.jpg);
    background-repeat: no-repeat;
  }

  100% {
    background-image: url(/Img_voyage/stars-g4d06a43b2_1920.jpg);
    background-repeat: no-repeat;
  }
}

/*------Fin-Diapo------*/

.ConteneurBandeTop {

  height: 35px;
  width: 100%;
  border-bottom: solid 2px #e1a524;
  background-color: #1d485c00;
}



.ConteneurBandeBottom {
  position: absolute;
  display: flex;
  flex-direction: wrap;
  width: 60%;
  height: 50px;
  background-color: #f0f0f000;
  top: 200px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
  transition-duration: 3s;


}



.ConteneurBandeBottom :hover {

  box-shadow: 0px 60px 180px -9px #1d485cb4;
  color: white;

}


.ConteneurBandeBottom div {

  width: 20%;
  height: 50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 25px;
  border-left: solid 3px rgba(243, 243, 243, 0.699);
  transition-duration: 2s;
}

.ConteneurBandeBottom div p {
  text-align: center;

}

.ConteneurBandeBottom div p a {
  font-family: "poppins-regular";
  font-size: 17px;
  text-decoration: none;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}



.ConteneurBottom {

  text-align: center;

}

/*//////////////Menu-Burger///////////////////*/





/*///////////////////Header///////////////////*/

header {
  position: sticky;
  display: flex;

  flex-direction: row;
  background-color: #1c2a3069;
  transition-duration: 0.2s;


  /*border: solid 1px black;*/
  border-bottom: solid 1px #e1a5243b;

}

header:hover {
  background-color: #1c2a308e;




  /*border: solid 1px black;*/
  border-bottom: solid 1px #e1a5243b;

}


.D1météo {
  width: 100%;
  /*border: solid 1px rgba(255, 255, 255, 0.5);*/

}



.D2logo {
  width: 100%;
  margin: 0px;
  text-align: center;
  /*border: solid 1px rgba(255, 255, 255, 0.568);*/


}




.imageLogo {

  position: absolute;
  width: 200px;
top: -37px;
left: 850px;
cursor: pointer;

}

/*//////////HeaderNav/////////////*/




header nav {
  background-color: #00000000;
}

.D3Nav {
  width: 100%;
  justify-content: center;
  /* border: solid 1px rgba(255, 255, 255, 0.5);*/
}

header nav ul {
  display: flex;
  width: 100%;
  padding: 0%;
  margin-top: 40px;
  justify-content: center;

  list-style-type: none;

  /*border: solid 1px black;*/
}

nav ul a {
  font-family: "poppins-regular";
  font-size: medium;
  font-weight: 500;
  color: #ffffff;
  text-decoration-line: none;
  cursor: pointer;
  margin-right: 120px;

}


nav ul :hover {

  text-decoration: underline;
  transition-delay: 1s;
}




/*////////////Boutons///////////////////*/

.BoutonDécouvrir {
  font-family: "poppins-bold";
  font-size: medium;
  background-color: white;
  border-radius: 5px;
  color: #092330;
  border: solid 1px #092330;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: scale 0.5s;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}

.BoutonDécouvrir:hover {
  background-color: rgba(29, 26, 26, 0.151);
}


.BoutonDécouvrir2 {
  font-family: "poppins-regular";
  font-size: medium;
  background-color: #ffffff21;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  border: solid 0.5px #ffffff6e;
  border-left: solid 0.5px #ffffff6e;
  border-right: solid 0.5px #ffffff6e;
  border-bottom: 0px;
  border-top: 0px;
  border-radius: 1px;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: scale 0.5s;
}

.BoutonDécouvrir2:hover {
  background-color: rgba(240, 230, 230, 0.267);
}

.BoutonDécouvrir3 {
  font-family: "poppins-regular";
  font-size: medium;
  background-color: #ffffff2c;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  border: solid 0.5px #ffffff6e;
  border-left: solid 0.5px #ffffff6e;
  border-right: solid 0.5px #ffffff6e;
  border-bottom: 0px;
  border-top: 0px;
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition-duration: 0, 1s;
}

input[type="search"] {
  border: 1 1px solid #ffffff9d;
  -webkit-appearance: none;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.BoutonDécouvrir3:hover {
  background-color: rgba(240, 230, 230, 0.267);
  transition-duration: 1s;
}


/*TexteAcuueil*/

.contenair4 {
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: block;
  text-align: center;
}

.contenair4 h4 {
  font-size: 30px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  transition-duration: 5s;
}

.contenair4 h4:hover {
  font-size: 31px;
}


/*-----------------------------------Sec2------------------------------*/

.texteSec2 {
  text-align: center;
}


/*New Cartes*/
.Container2-Globale-Cartes {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  /*border: solid 2px red;*/
  padding-top: 50px;
  padding-bottom: 50px;
}



.container-image {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 15%;
  height: 350px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 109px -20px #384454;
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
   transform: scale(1.02);

}


#imgcarte1 {

  text-align: center;
  width: 300px;
  height: 350px;
  border-radius: 30px;
  background-image: url("/Img_voyage/Venise_carte_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  border-bottom: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  transition: transform 0.2s;

}


#imgcarte1 p {
  width: 75%;
  border-radius: 0155px 0px;
  background-color: rgba(255, 255, 255, 0.219);
  color: rgba(255, 255, 255, 0.767);
  border: solid 1px rgba(255, 255, 255, 0);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-top: 300px;
  font-family: "poppins-regular";
  text-shadow: black 0.1em 0.1em 0.2em;
  
}

#imgcarte2 {

  text-align: center;
  width: 300px;
  height: 350px;
  border-radius: 30px;
  background-image: url("/Img_voyage/Découvrir_Lisbonne_5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;

  border-bottom: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 109px -20px #384454;
}


#imgcarte2 p {
  width: 75%;
  border-radius: 0155px 0px;
  background-color: rgba(255, 255, 255, 0.219);
  color: rgba(255, 255, 255, 0.767);
  border: solid 1px rgba(255, 255, 255, 0.253);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-top: 300px;
  font-family: "poppins-regular";
  text-shadow: black 0.1em 0.1em 0.2em;

}

#imgcarte3 {

  text-align: center;
  width: 300px;
  height: 350px;
  border-radius: 30px;
  background-image: url("/Img_voyage/Découvrir_Porto_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-bottom: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 109px -20px #384454;
}


#imgcarte3 p {
  width: 75%;
  border-radius: 0155px 0px;
  background-color: rgba(255, 255, 255, 0.219);
  color: rgba(255, 255, 255, 0.767);
  border: solid 1px rgba(255, 255, 255, 0.253);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-top: 300px;
  font-family: "poppins-regular";
  text-shadow: black 0.1em 0.1em 0.2em;

}

#imgcarte4 {

  text-align: center;
  width: 300px;
  height: 350px;
  border-radius: 30px;
  background-image: url("/Img_voyage/Louvre_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-bottom: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 109px -20px #384454;
}


#imgcarte4 p {
  width: 75%;
  border-top-left-radius: 0155px; 
  border-top-right-radius: 10px; 
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius:15px ; 
  background-color: rgba(255, 255, 255, 0.219);
  color: rgba(255, 255, 255, 0.767);
  border: solid 1px rgba(255, 255, 255, 0.253);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-top: 300px;
  font-family: "poppins-regular";
  text-shadow: black 0.1em 0.1em 0.2em;

}

/*2ème parties carte Images-Réservation*/
#imgcarte5 {

  text-align: center;
  width: 300px;
  height: 350px;
  border-radius: 30px;
  background-image: url("/Img_voyage/empire-state-building-g7d51a76cc_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  border-bottom: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  transition: transform 0.2s;

}


#imgcarte5 p {
  width: 75%;
  border-radius: 0155px 0px;
  background-color: rgba(255, 255, 255, 0.219);
  color: rgba(255, 255, 255, 0.767);
  border: solid 1px rgba(255, 255, 255, 0);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-top: 300px;
  font-family: "poppins-regular";
  text-shadow: black 0.1em 0.1em 0.2em;
  
}

#imgcarte6 {

  text-align: center;
  width: 300px;
  height: 350px;
  border-radius: 30px;
  background-image: url("/Img_voyage/tokyo-g0cd59f53f_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;

  border-bottom: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 109px -20px #384454;
}


#imgcarte6 p {
  width: 75%;
  border-radius: 0155px 0px;
  background-color: rgba(255, 255, 255, 0.219);
  color: rgba(255, 255, 255, 0.767);
  border: solid 1px rgba(255, 255, 255, 0.253);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-top: 300px;
  font-family: "poppins-regular";
  text-shadow: black 0.1em 0.1em 0.2em;

}

#imgcarte7 {

  text-align: center;
  width: 300px;
  height: 350px;
  border-radius: 30px;
  background-image: url("/Img_voyage/beach-gd3aa01fda_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-bottom: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 109px -20px #384454;
}


#imgcarte7 p {
  width: 75%;
  border-radius: 0155px 0px;
  background-color: rgba(255, 255, 255, 0.219);
  color: rgba(255, 255, 255, 0.767);
  border: solid 1px rgba(255, 255, 255, 0.253);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-top: 300px;
  font-family: "poppins-regular";
  text-shadow: black 0.1em 0.1em 0.2em;

}

#imgcarte8 {

  text-align: center;
  width: 300px;
  height: 350px;
  border-radius: 30px;
  background-image: url("/Img_voyage/mosque-geaf52566c_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  border-bottom: solid 2px #ffffff;
  border-left: solid 2px #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 109px -20px #384454;
}


#imgcarte8 p {
  width: 75%;
  border-top-left-radius: 0155px; 
  border-top-right-radius: 10px; 
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius:15px ; 
  background-color: rgba(255, 255, 255, 0.219);
  color: rgba(255, 255, 255, 0.767);
  border: solid 1px rgba(255, 255, 255, 0.253);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-top: 300px;
  font-family: "poppins-regular";
  text-shadow: black 0.1em 0.1em 0.2em;

}
/*-------------------------------------*/

.infos-hover1 {
  display: flex;
  flex-direction: row;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  width: 290px;
  height: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.603);
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 0.5s;
}



.infos-hover1 p {

 
  border-top-left-radius: 0155px; 
  border-top-right-radius: 10px; 
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius:15px ; 
  font-family: "poppins-regular";
  text-align: center;
  padding-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 0.5px rgba(255, 255, 255, 0.171);

}


/*.infos-hover1 p {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-decoration: none;
  text-align: center;
}*/

.BontonRéserver {
  padding-top: 5px ;
  padding-bottom: 5px ;
  padding-left:11px ;
  padding-right: 11px;
  color: #000;
  border-radius: 0155px 0px;
  text-decoration: none;
  border: solid 1px white;
  background-color: rgb(255, 255, 255);
  
}

.BontonRéserver:hover {


  background-color: rgba(255, 255, 255, 0.836);
}



.container-image:hover .infos-hover1 {
  transform: scale(1.02);
  height: 100%;
}

/*Contenair Boutton Carte*/

.ContenairBoutton2 {
  text-align: center;
  background-color: #81b0e02d;
  padding-bottom: 100px;
  padding-top: 100px;
}

/************CSS-Code-NABIL-Style***********/


#section-3 {
  background-color: #1c2a30b9;
}

h1

/* A modif*/
  {
  padding-top: 20px;
  text-align: center;
  color: gold;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "poppins-regular";
}

.Couleur-or {
  color: white;
}

.video-avion-backgroung {
  width: 100%;
}

.conteneur-logo {
  position: absolute;
  margin-top: -720px;
}

.fenêtre {
  float: left;
  width: 315px;
  margin-left: 25px;
  font-size: 30px;
  text-align: center;
}

.logo-1 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 60px -8px rgba(5, 5, 5, 0.99);
  transition: transform .1s;

}

.logo-2 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 60px -8px rgba(5, 5, 5, 0.99);
  transition: transform .1s;
}

.logo-3 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 60px -8px rgba(5, 5, 5, 0.99);
  transition: transform .1s;
}

.logo-4 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 60px -8px rgba(5, 5, 5, 0.99);
  transition: transform .1s;
}

.logo-5 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 60px -8px rgba(5, 5, 5, 0.99);
  transition: transform .1s;
}

.video-croisiére {
  width: 100%;
}

.conteneur-logo2 {
  position: absolute;
  margin-top: -720px;
}

.fenêtre-2 {
  float: left;
  width: 315px;
  margin-left: 25px;
  font-size: 30px;
  text-align: center;
}

.logo-6 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 60px -8px rgba(5, 5, 5, 0.99);
  transition: transform .1s;
}

.logo-7 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 60px -8px rgba(5, 5, 5, 0.99);
  transition: transform .1s;
}

.logo-8 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 60px -8px rgba(5, 5, 5, 0.99);
  transition: transform .1s;
}

.logo-9 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 60px -8px rgba(5, 5, 5, 0.99);
  transition: transform .1s;
}

.logo-10 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 60px -8px rgba(5, 5, 5, 0.99);
  transition: transform .1s;


}

.logo-1:hover {
  transform: scale(1.025);
}

.logo-2:hover {
  transform: scale(1.025);
}

.logo-3:hover {
  transform: scale(1.025);
}

.logo-4:hover {
  transform: scale(1.025);
}

.logo-5:hover {
  transform: scale(1.025);
}

.logo-6:hover {
  transform: scale(1.025);
}

.logo-7:hover {
  transform: scale(1.025);
}

.logo-8:hover {
  transform: scale(1.025);
}

.logo-9:hover {
  transform: scale(1.025);
}

.logo-10:hover {
  transform: scale(1.025);
}

.ecriture {
  font-family: "poppins-bold";
  color: #d4d3dc;

}

.facebooklogo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  transition: transform .1s;
}

.facebooklogo:hover {
  transform: scale(1.1);
}

.instagramlogo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  transition: transform .1s;
}

.instagramlogo:hover {
  transform: scale(1.1);
}

.snaplogo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  transition: transform .1s;
}

.snaplogo:hover {
  transform: scale(1.1);
}

.telegramlogo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  transition: transform .1s;
}

.telegramlogo:hover {
  transform: scale(1.1);
}

.twitterlogo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  transition: transform .1s;
}

.twitterlogo:hover {
  transform: scale(1.1);
}

.logoapple {
  width: 120px;
  height: 50px;
  background-color: #000;
  padding-right: 2px;
  padding-left: 6px;
  border-radius: 40px;
  margin-top: 80px;
  transition: transform .1s;
}

.logoapple:hover {
  transform: scale(1.050);
}

.logogoogle {
  width: 120px;
  height: 50px;
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 40px;
  transition: transform .1s;
  margin-left: 10px;
}

.logogoogle:hover {
  transform: scale(1.1);
}


.footer {
  display: flex;
  background-color: #81b0e02d;
  text-align: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.part1 {
  text-align: left;
}

.part2 {
  margin-left: 50px;
  text-align: left;
}

.part3 {
  margin-left: 50px;
}

.part4 {
  margin-left: 50px;

}

.logo-footer {
  margin-top: 20px;
  border-radius: 10px;
}

h4

/* A modif*/
  {
  font-size: 20px;
}

.config {
  font-family: "volkhov-regular";
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.politique {
  text-decoration: underline;
  color: white;
}


/************CSS-Code-NABIL-Newletter***********/