@font-face {
  font-family: "poppins-bold";
  src: url("../polices/poppins-bold.woff2") format("woff2"),
    url("/polices/poppins-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins-italic";
  src: url("../polices/poppins-italic.woff2") format("woff2"),
    url("../polices/poppins-italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins-regular";
  src: url("../polices/poppins-regular.woff2") format("woff2"),
    url("../polices/poppins-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "volkhov-bold";
  src: url("../polices/volkhov-bold.woff2") format("woff2"),
    url("../polices/volkhov-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "volkhov-italic";
  src: url("../polices/volkhov-italic.woff2") format("woff2"),
    url("../polices/volkhov-italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "volkhov-regular";
  src: url("../polices/volkhov-regular.woff2") format("woff2"),
    url("../polices/volkhov-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans-regular";
  src: url("../polices/OpenSans-Regular.woff2") local("woff2"),
    url("../polices/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans-bold";
  src: url("../polices/OpenSans-Bold.woff2") format("woff2"),
    url("../polices/OpenSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
